name: Build, test and publish
on: [ push ]

jobs:
  build-test-publish:
    name: Build, test and publish
    uses: HavenDV/workflows/.github/workflows/dotnet_build-test-publish.yml@main
    with:
      os: windows-2022
      project-path: /target:libs
      use-msbuild: true
      # workloads: android ios maccatalyst macos
      windows-sdk-version: 18362
      windows-sdk-version2: 16299
    secrets:
      nuget-key: ${{ secrets.NUGET_KEY }}